@charset "UTF-8";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: black;
}

#elso,
#masodik,
#harmadik,
#negyedik {
    scroll-snap-align: center;
}
/*#masodik{
    background: url("kepek/hatter2.jpg");
}*/
.masodik-hatter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -10;
}
#harmadik{
    background: url("kepek/hatter3.jpg");
}
#negyedik{
    background: url("kepek/hatter4.jpg");
}

footer {
    width: 100%;
    display: grid;
    place-items: center;
}

header {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('kepek/hatter.jpg');
    background-repeat: no-repeat;
    margin: auto;
    display: table;
    top: 0;
    background-size: cover;
    background-position: center;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.tartalom {
    opacity: 0;
    transform: translateY();
    animation: kesleltetes 2s ease 5.5s forwards;
}

.bal-oldal {
    min-width: 50%;
}

article>* {
    min-height: 80%;
}

.belso {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.header-tartalom {
    margin: 0 auto;
    text-align: center;
}


/*---------------------------------------------*/


/*Alap navigáció*/

.nav-tarolo {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.logo {
    float: left;
    padding: 10px 0;
}

#alap ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#alap {
    float: right;
}

#alap li {
    display: inline-block;
    margin-left: 8vw;
    padding-top: 23px;
    position: relative;
}

#alap ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

#alap a:hover {
    color: gray;
}

#alap ul li a:hover {
    border-bottom: 2px solid white;
    width: 60px;
}


/*---------------------------------------------*/


/*Reszponzív navigáció*/

.container {
    display: none;
    height: 60px;
    width: 100%;
    z-index: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.hamburgerMenu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 50px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
}

.filter {
    backdrop-filter: blur(15px);
}

.line {
    width: 100%;
    height: 5px;
    background: black;
}

.change .line-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
}

.containerHatter {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}

.navBar {
    width: 100%;
    height: 250px;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
    background: rgba(255, 255, 255, 0.1);
    top: -1000px;
    right: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change {
    top: 0;
}

.nav-list {
    text-align: center;
}

.nav-list>li {
    list-style-type: none;
    margin: 25px;
}

.nav-list>li>a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-list>li>a::before,
.nav-list>li>a::after {
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
    color: black;
}

.nav-list>li>a::after {
    bottom: 0;
}

.nav-list>li>a::before {
    top: 0;
}

.nav-list>li>a:hover::before,
.nav-list>li>a:hover::after {
    transform: scaleX(1);
}


/*---------------------------------------------*/



/*Typewriter kialakítása*/

.nev {
    position: relative;
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
    width: max-content;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.nev::after {
    width: 0.125em;
    background: black;
    animation: typewriter 0.1ms steps(20) 0.1ms forwards, blink 500ms steps(20)infinite;
}

.nev::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nevDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
}

.nev span {
    position: absolute;
    top: 0;
    left: 0;
}

.nev span:first-child {
    animation: nev-glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}

.nev span:last-child {
    animation: nev-glitch 375ms infinite;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
}


/*---------------------------------------------*/


/*Fő gomb kialakítása*/


.neon-gomb {
    font-size: 3rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: hsl(317 100% 54%);
    border: hsl(317 100% 54%) 0.125em solid;
    padding: 0.25em 1em;
    background: #1a1818;
    border-radius: 0.25em;
    text-shadow:
    0 0 0.125em hsl(0 0% 100% / 0.3), 
    0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);
    position: relative;
    transition: background-color 100ms linear;
}

.neon-gomb::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: hsl(317 100% 54%);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(100deg) scale(1, 0.35);
    filter: blur(2em);
    opacity: 0.75;
}


.neon-gomb::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
    opacity: 0;
    transition: opacity 100ms linear;
}

.neon-gomb:hover,
.neon-gomb:focus {
    background: hsl(317 100% 54%);
    color: black;
    text-shadow: none;
}

.neon-gomb:hover::after,
.neon-gomb:focus::after {
    opacity: 1;
}

.neon-gomb:hover::before,
.neon-gomb:focus::before {
    opacity: 1;
}


/*---------------------------------------------*/


/*Többi*/

#facebook {
    background: url("kepek/flash.png")
}

main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}


/*---------------------------------------------*/


/*Keyframes*/

@keyframes typewriter {
    to {
        left: 100%
    }
}

@keyframes nev-glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75), 
        -0.05em -0.025em 0 rgba(0, 255, 0, .75), 
        -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75), 
        -0.025em -0.05em 0 rgba(0, 255, 0, .75), 
        0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, .75), 
        0.025em 0.0025em 0 rgba(0, 255, 0, .75), 
        -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, .75), 
        0.025em 0.0025em 0 rgba(0, 255, 0, .75), 
        -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, .75), 
        0.05em 0 0 rgba(0, 255, 0, .75), 
        0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, .75), 
        0.05em 0 0 rgba(0, 255, 0, .75), 
        0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, .75), 
        -0.025em -0.025em 0 rgba(0, 255, 0, .75), 
        -0.025em -0.05em 0 rgba(0, 0, 255, .75);
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes kesleltetes {
    to {
        opacity: 1;
        transform: translateY(1rem);
    }
}


/*Reszpó*/

@media screen and (max-width: 640px) {
    .nev {
        font-size: 7.7vw;
    }
}

@media screen and (max-width: 500px) {
    .nav-tarolo {
        display: none;
    }
    main {
        grid-template-areas: "hd" "n" "a" "f";
    }
    .hamburgerMenu {
        display: flex;
    }
    .container {
        display: block;
    }
    header {
        padding-top: 0px;
    }
    article {
        padding-top: 70px;
    }
}