@charset "UTF-8";
:root{
--max-szelesseg: 2000px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    max-width: var(--max-szelesseg);
    background: black;
}
.nav-tarolo{
    max-width: var(--max-szelesseg);
}
main {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
#oldal-tartalom{
    display: none;
}

/*Fő oldal kialakítása*/
#kezdo-oldal {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('kepek/hatter.jpg');
    top: 0;
}
.kezdo-oldal-tartalom {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/*---------------------------------------------*/


/*Első szekció*/
#elso{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),url("kepek/hatter2.jpg");
}
.elso-kartya-1-cim{
    color: white;
    font-size: 3em;
    display: none;
}
.elso-kartya-1:hover .elso-kartya-1-cim {
    display: block !important;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}
.elso-kartya-1:not(:hover) .elso-kartya-1-cim.did-fade-in {
    animation: fade-out 2s;
}
.elso-kartya-1-cim-div{
    height: 50px;
    margin-top: 4em;
}
.elso-kartya{
    height: calc(100vh - 60px);
    width: calc(100% / 3);
    opacity: 0.8;
    position: relative;
    transition: width 300ms linear ;
}
.elso-tarolo{
    display: flex;
    height: 100vh;
    align-items: flex-end;
}
.elso-kartya-1{
    background: url("kepek/gaming.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.elso-kartya-2{    
    background: url("kepek/program.png");
}
.elso-kartya-1,
.elso-kartya-2,
.elso-kartya-3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.elso-kartya-1:hover{
    background: url("kepek/gaming2.gif");
}
.elso-kartya-2:hover{    
    background: url("kepek/program.gif");
}
.elso-kartya-gomb-div{
    height: 40%;
    width: fit-content;
    display: none;
    justify-content: center;
    align-items: center;
}
.elso-kartya-1:hover .elso-kartya-gomb-div{
    display: flex !important;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}
.elso-kartya-1:not(:hover) .elso-kartya-gomb-div.did-fade-in {
    animation: fade-out 2s;
}
.elso-kartya-1:hover,
.elso-kartya-2:hover,
.elso-kartya-3:hover{
    width: calc(100% / 1.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.elso-kartya-gomb{
    color: black;
    position: relative;
    width: 160px;
    height: 60px;
    display: inline-block;    
}
.elso-kartya-gomb:before,
.elso-kartya-gomb:after{
    position: absolute;
    content: '';    
    inset: 0;
    transition: 0.5s;
    background: linear-gradient(45deg, #00ccff,#0e1538,#0e1538,#d400d4);
}
.elso-kartya-gomb:hover:before{
    inset: -3px;
}
.elso-kartya-gomb:hover:after{
    inset: -3px;
    filter: blur(10px);
}
.elso-kartya-gomb span{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: black;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

/*---------------------------------------------*/


/*Második szekció*/
.masodik-hatter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -10;
    max-width: var(--max-szelesseg);
}
.masodik-div{
    width: 100%;
    height: 100vh;
    display: flex;
}
.masodik-tarolo{
    width: 100%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.masodik-kartya{
    width: 25vw;
    height: 40vw;
    border-radius: 30px;
    background: black;
    position: relative;
    opacity: 0.8;
}
/*---------------------------------------------*/


/*Harmadik szekció*/
#harmadik{
    background: url("kepek/hatter4.jpg");
}

/*---------------------------------------------*/

/*Összesítve*/


#kezdo-oldal,#elso,#masodik,#harmadik{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    background-position: center;
}
/*---------------------------------------------*/

/*Tartalom kialakítása*/
.kartya-animacio{    
    animation-name: becsuszas;
    animation-duration: 2s;
}
/*---------------------------------------------*/


/*Töltő kép kialakítás*/

#tolto-kep{
    background: black;
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.loading{
    position: relative;
    color: white;
}
.loader{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 40%, #e5f403);
    animation: animate 2s linear infinite;
}
.loader:before{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: black;
    border-radius: 50%;
    z-index: 5;
}
.loader:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg,transparent,transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 3;
    filter: blur(30px);
}

#tolto-vonal{
    width: 60vw;
    height: 10px;
    background: white;
    position: absolute;
    top: 65%;
    overflow: hidden;
}

#tolto-vonal-2{
    position: absolute;    
    height: 10px;
    background: blue;
    top: 65%;
    width: 60vw;
    z-index: 5;
    transform: translateX(-100%);
}
#tolto-vonal-fekete-1{
    position: absolute;
    top: 65%;
    left:0;
    height: 10px;
    width: 20vw;
    z-index: 10;
    background: black;
}
#tolto-vonal-fekete-2{
    position: absolute;
    top: 65%;
    right:0;
    height: 10px;
    width: 20vw;
    z-index: 10;
    background: black;
}
.proba1{
    animation: elso-kep 1s forwards;
}
.proba2{
    animation: masodik-kep 1s forwards;
}
.proba3{
    animation: harmadik-kep 1s forwards;
}
.proba4{
    animation: negyedik-kep 1s forwards;
}
.proba5{
    animation: otodik-kep 1s forwards;
}
.proba6{
    animation: hatodik-kep 1s forwards;
}
/*---------------------------------------------*/


/*Alap navigáció*/

.nav-tarolo {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    z-index: 5;
}

.logo {
    float: left;
    padding: 10px 0;
}

#alap-navigacio ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#alap-navigacio {
    float: right;
}

#alap-navigacio li {
    display: inline-block;
    margin-left: 8vw;
    padding-top: 23px;
    position: relative;
}

#alap-navigacio ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;    
    cursor: pointer;
}

#alap-navigacio a::before,
#alap-navigacio a::after {
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

#alap-navigacio a::after {
    bottom: -5px;
}

#alap-navigacio a::before {
    top: 18px;
}

#alap-navigacio a:hover::before,
#alap-navigacio a:hover::after {
    transform: scaleX(1);
}


/*---------------------------------------------*/


/*Reszponzív navigáció*/

.reszponziv-nav-tarolo {
    display: none;
    height: 60px;
    width: 100%;
    z-index: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 50px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
}

.filter {
    backdrop-filter: blur(15px);
}

.vonal {
    width: 100%;
    height: 5px;
    background: black;
}

.change .vonal-1 {
    transform: rotateZ(-45deg) translate(-8px, 6px);
}

.change .vonal-2 {
    opacity: 0;
}

.change .vonal-3 {
    transform: rotateZ(45deg) translate(-8px, -6px);
}

.reszponziv-nav-tarolo-hatter {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}

.nav-bar {
    width: 100%;
    height: 250px;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
    background: rgba(255, 255, 255, 0.1);
    top: -1000px;
    right: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: right .8s cubic-bezier(1, 0, 0, 1);
}

.change {
    top: 0;
}

.nav-list {
    text-align: center;
}

.nav-list>li {
    list-style-type: none;
    margin: 25px;
}

.nav-list>li>a {
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}

.nav-list>li>a::before,
.nav-list>li>a::after {
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
    color: black;
}

.nav-list>li>a::after {
    bottom: 0;
}

.nav-list>li>a::before {
    top: 0;
}

.nav-list>li>a:hover::before,
.nav-list>li>a:hover::after {
    transform: scaleX(1);
}


/*---------------------------------------------*/



/*Typewriter kialakítása*/
.nev-valtozas:first-letter{
    color: transparent;
}
.nev {
    position: relative;
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
    width: max-content;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.nev::after {
    width: 0.125em;
    background: black;
    animation: typewriter forwards, blink 500ms infinite;
}

.nev::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nev-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
}

.nev span {
    position: absolute;
    top: 0;
    left: 0;
}

.nev span:first-child {
    animation: nev-glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
}

.nev span:last-child {
    animation: nev-glitch 375ms infinite;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
}


/*---------------------------------------------*/


/*Fő gomb kialakítása*/


.neon-gomb {
    font-size: 3rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: hsl(317 100% 54%);
    border: hsl(317 100% 54%) 0.125em solid;
    padding: 0.25em 1em;
    background: #1a1818;
    border-radius: 0.25em;
    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.3), 
        0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);
    position: relative;
    transition: background-color 100ms linear;
}

.neon-gomb::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: hsl(317 100% 54%);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(100deg) scale(1, 0.35);
    filter: blur(2em);
    opacity: 0.75;
}


.neon-gomb::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em hsl(317 100% 54%);
    opacity: 0;
    transition: opacity 100ms linear;
}

.neon-gomb:hover,
.neon-gomb:focus {
    background: hsl(317 100% 54%);
    color: black;
    text-shadow: none;
}

.neon-gomb:hover::after,
.neon-gomb:focus::after {
    opacity: 1;
}

.neon-gomb:hover::before,
.neon-gomb:focus::before {
    opacity: 1;
}


/*---------------------------------------------*/


/*Többi*/

/*---------------------------------------------*/


/*Keyframes*/

@keyframes typewriter {
    to {
        left: 100%
    }
}

@keyframes nev-glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75), 
            -0.05em -0.025em 0 rgba(0, 255, 0, .75), 
            -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    14% {
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75), 
            -0.025em -0.05em 0 rgba(0, 255, 0, .75), 
            0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, .75), 
            0.025em 0.0025em 0 rgba(0, 255, 0, .75), 
            -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    15% {
        text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, .75), 
            0.025em 0.0025em 0 rgba(0, 255, 0, .75), 
            -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, .75), 
            0.05em 0 0 rgba(0, 255, 0, .75), 
            0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    50% {
        text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, .75), 
            0.05em 0 0 rgba(0, 255, 0, .75), 
            0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    100% {
        text-shadow: -0.025em 0 0 rgba(255, 0, 0, .75), 
            -0.025em -0.025em 0 rgba(0, 255, 0, .75), 
            -0.025em -0.05em 0 rgba(0, 0, 255, .75);
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes kesleltetes {
    to {
        opacity: 1;
        transform: translateY(1rem);
    }
}

@keyframes becsuszas {
    0%   {left:-300px;opacity:0.3}
    100% {left:0px; opacity:0.8}
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
 @keyframes animate{
     0%{
         transform: rotate(0deg);
         filter: hue-rotate(0deg);
     }
     100%{
         transform: rotate(360deg);
         filter: hue-rotate(360deg);
     }
 }
 @keyframes elso-kep{
    0%{
        transform: translateX(-85%);
     }
     100%{
        transform: translateX(-75%);
    }
}
@keyframes masodik-kep{
    0%{
        transform: translateX(-75%);
     }
     100%{
        transform: translateX(-60%);
    }
}
@keyframes harmadik-kep{
    0%{
        transform: translateX(-60%);
     }
     100%{
        transform: translateX(-45%);
    }
}
@keyframes negyedik-kep{
    0%{
        transform: translateX(-45%);
     }
     100%{
        transform: translateX(-35%);
    }
}
@keyframes otodik-kep{
    0%{
        transform: translateX(-35%);
     }
     100%{
        transform: translateX(-20%);
    }
}
@keyframes hatodik-kep{
    0%{
        transform: translateX(-20%);
     }
     100%{
        transform: translateX(0%);
    }
}

/*Reszpó*/

@media screen and (max-width: 640px) {
    .nev {
        font-size: 7.7vw;
    }
    .elso-tarolo{
        flex-direction: column;
    }
    .elso-kartya-1,
    .elso-kartya-2,
    .elso-kartya-3{
        width: 100%;
        background-size: cover;
    }
    .elso-kartya-1:hover,
    .elso-kartya-2:hover,
    .elso-kartya-3:hover{
        width: 100%;
    }
    .masodik-tarolo{
        flex-direction: column;
        height: 90%;
        margin: 0;
        margin-bottom: 10px;
    }
    .masodik-div{
        align-items: flex-end;
    }
    .masodik-kartya{
        height: 18rem;
    }
    .masodik-kartya-3{
        width: 90%;
        height: 18rem;
    }
    .masodik-kartya-1,.masodik-kartya-2{
        width: 45%;
    }
    .masodik-tarolo{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .nav-tarolo {
        display: none;
    }
    .hamburger-menu {
        display: flex;
    }
    .reszponziv-nav-tarolo {
        display: block;
    }
    header {
        padding-top: 0px;
    }
    .neon-gomb {
        font-size: 9.7vw;
    }
    .elso-kartya-1{
        background: url("kepek/gaming.gif");
    }
    .elso-kartya-2{    
        background: url("kepek/program.gif");
    }
    .elso-kartya-1,
.elso-kartya-2,
.elso-kartya-3{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.elso-kartya-1-cim{
    display: block !important;
    animation: none;
}
:is(.elso-kartya-1-cim) .elso-kartya-1:not(:hover){
    display: block;
}
.elso-kartya-1:not(:hover) .elso-kartya-1-cim.did-fade-in {
    animation: none;
}
.elso-kartya-1:hover .elso-kartya-1-cim {
    -webkit-animation: none;
    animation: none;
}
}